photo_app_03/settings.json
photo_app_03/settings-development.json
photo_app_03/settings-production.json
photo_app_04/settings.json
photo_app_04/settings-development.json
photo_app_04/settings-production.json